.open-sans-norrmal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

* {
  margin: 0;
}

/* common shared style  */
.btn-primary {
  border-radius: 5px;
  background: #FD6E0A;
  color: white;
  text-align: center;
  border: none;
  font-size: 20px;

  font-weight: 700;
  padding: 18px 36px;

}

.btn-primary:hover {
  background-color: rgba(236, 213, 213, 0.384);
  color: rgba(26, 21, 21, 0.445);
}

.btn-secondery {
  padding: 18px 18px;
}

header {
  background-image: url(./images/developer.png), url(./images/header_bg.png);


  background-repeat: no-repeat;
  background-size: contain, calc(50%);
  background-position: top left, bottom right;
  padding: 0px 40px 0px 185px;
  margin: 105px auto;
}

/* nav styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;



}

.nav-header {
  color: var(--Dark-01, #181818);

  font-family: "Open Sans";
  font-size: 45px;
  font-style: normal;
  font-weight: 800;

}


.font-primary {
  color: #FD6E0A;
}

nav li {
  list-style: none;


}

nav li a {
  text-decoration: none;
  font-size: 20px;
  padding-right: 50px;

}

.dark-2 {
  color: #474747;

}

.nav-list {
  display: flex;
  align-items: center;

}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hardy {
  width: 470px;


}

.header-section,
.footer-section {
  max-height: 658px;
  max-width: 1280px;
}

.banner-greatings {
  font-size: 20px;
  font-weight: 600;
  color: #474747;
}

.banner-title {
  color: #181818;
  font-size: 48px;
  font-weight: 700px;
}

.banner-description {
  color: #757575;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.banner-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  line-height: normal;

}


/* completed header related style */
/* completed header related style */
/* completed header related style */

/* common shared style */

.section {
 max-width: 1100px;
  height: 500px;
  background-color: #FFF8F3;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

}

.about {
  display: flex;
  flex-direction: column;


  margin: 20px auto;
  max-width:  1100px;
  height: 500px;
  background-color: #cdd3b175;
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 65%;
  gap: 50px;
  justify-content: center;
  background-color: white;
  margin: auto;
  padding: 40px;


}

/* .inner-box {

  display: flex;
  flex-direction: column;
  width: 700px;
  height: 250px;
  text-align: center;
  background-color: white;
  gap: 30px; */



.section-head {
  color: #181818;


  font-size: 22px;

  font-weight: 700;


}

.section-des {
  color: #757575;

  font-size: 15px;

  font-weight: 400;

}

.contactlist {
  display: flex;
  text-align: center;
  gap: 50px;
  list-style: none;
  justify-content: space-around;
}

.contact-head {
  color: #757575;

  font-size: 16px;

  font-weight: 400;

}

.contact-details {
  color: #474747;
  font-size: 16px;
  font-weight: 700;


}

/* what i do sectionwhat i do sectionwhat i do sectionwhat i do sectionwhat i do section */

.what-i-do {
  background-color: white;
  margin-top: 105px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}


.list-head {
  font-size: 16px;
}

.what-i-do>ul {
  display: flex;
  list-style: none;
  gap: 20px;
  margin-top: 20px;
}

.what-i-do>ul>li {
  text-align: justify;
  height: 300px;
  padding: 50px 25px;


  border: 1px solid rgba(128, 128, 128, 0.164);
}

.list-head {
  margin: 20px 0;
}

/* end of what i do section stylesend of what i do section stylesvend of what i do section styles
 */

.resume {
  display: flex;
  flex-direction: column;
  margin-top: 250px;
  margin-bottom: 300px;
  gap: 70px;
}

.resume-head {
  padding-bottom: 20px;
  color: #181818;
  text-align: center;

  font-size: 28px;
  font-weight: 700;

}



.section-des {
  display: flex;
  gap: 65px;
  background-color: white;
}

.education>ul>li {
  list-style: none;

}

.education {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 50px;
}

.reference {
  color: #757575;
  font-size: 16px;
  font-weight: 600;
}

.institute {
  color: #474747;

  font-size: 18px;
  font-weight: 700;
}

.education-head {
  color: #474747;

  font-size: 24px;
  font-weight: 700;

}

.small-block {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-section {
  display: flex;
  gap: 125px;
  padding: 150px 250px;
  justify-content: center;
  background-color: rgba(46, 39, 39, 0.363);
  margin: 130px auto 130px;
}

.connect {
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.connect>h3 {
  font-size: 35px;
  font-weight: 700;
  color: #df1717;
}

.connect>p,
a,
input {
  color: #474747;

  font-size: 14px;

  font-weight: 400;

}

.input {
  width: 90%;
  border: 1px solid rgba(207, 193, 193, 0.37);
  border-radius: 6px;
  padding: 5px;
}

.input:hover {
  background-color: rgba(187, 143, 150, 0.39);
  color: white;

}

.icon {
  display: flex;
  gap: 20px;
}

.icon>a:hover {
  border: 3px solid rgba(66, 7, 7, 0.192);
  border-radius: 50%;
}

@media screen and (max-width:576px) {
  .hide {
    display: none;
  }

  header {
    margin: 30px 0px 30px 0px;
    padding: 30px;
  }

  nav {
    justify-content: space-evenly;
    margin: 20px 0px 50px;


  }

  nav li a {
    text-decoration: none;
    font-size: 20px;
    padding-right: 10px;

  }

  .banner-content {
    display: flex;
    flex-direction: column;
    gap: 5px;

  }

  .inner-box {

    display: flex;
    flex-direction: column;

    height: auto;
    text-align: center;
    background-color: white;
    gap: 30px;
    margin: 0px;
    margin-bottom: 50px;

  }

  .about-me {
    border: 1px solid bisque;
    background-color: white;

    display: flex;
    margin-bottom: 50px;



  }




  .header-section {

    background: none;
    max-width: 576px;
    margin: 10px;
  }

  .banner>img {
    display: none;


  }

  .what-i-do {
    text-align: center;
    justify-content: center;
    margin: 100px 0px;
    padding: 30px;
    width: 100%;
    height: auto;
    text-align: left;
    justify-content: left;







  }

  .contactlist {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    max-width: 80%;
  }







  .section {
    max-width: 567px;
    height: auto;
    margin: 20px 0px;
    padding: 0px;
  }

  .what-i-do>ul {

    flex-direction: column;
    gap: 20px;
    margin-top: 0px;
    justify-content: center;
    padding: 0;
  }

  .what-i-do>ul {
    flex-direction: column;
    margin: 20px auto;
  }

  .what-i-do>ul>li {
    text-align: justify;

    height: 200px;
    padding: auto 25px;


    border: 1px solid rgba(128, 128, 128, 0.164);
  }




  .section-des {
    flex-direction: column;

    padding: 30px;

  }











  .header-section,
  .footer-section {
    max-width: 576px;
    height: 100%;

  }

  .footer-section {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 30px;
    justify-content: center;
    background-color: rgba(46, 39, 39, 0.363);
    margin: 30px 0px 30px 0px;

  }

  .about {

    width: auto;
    height: auto;
    margin: 20px 0px;
  }

  .inner {
    align-items: center;
    gap: 10px;
    justify-content: center;
    background-color: white;
    margin: auto;
    padding: 20px;
    max-width: 100%;
    height: auto;

  }
  .inner> ul> li{
    text-align: left;
  }
  .btn-primary, .btn-secondery{
    border-radius: 5px;
    background: #03d2f7;
    color: white;
    text-align: center;
    border: none;
    font-size: 20px;
  
    font-weight: 700;
    padding: 10px 20px;
  
  }
  
  
  
  
  /* .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 65%;
    gap: 50px;
    justify-content: center;
    background-color: white;
    margin: auto;
    padding: 40px;
  
  
  } */

}